body{
    background-color:#6fd671;
}
h1{
    color:white;
}
a{
    color:#507c45;
}
a:hover{
    color:#426639
}
#recipe-result{
    color:#333;
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
.margin-right{
    margin-right: 5px;
}
.padding-right{
    padding-right: 5px;
}
.padding-left{
    padding-left: 5px;
}
.padding-bottom{
    padding-bottom: 5px;
}
.padding-bottom-sm{
    padding-top: 2px;
}
.padding-top{
    padding-top: 5px;
}
.padding-top-sm{
    padding-top: 2px;
}
.btn-look:hover{
    color: #333 ;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-primary {
    background-color: #507c45;
    border-color: #426639;
}
.btn-primary:hover{
    background-color:#426639;
    border-color: #395931;
}
.btn-primary:focus{
    background-color:#426639;
    border-color: #395931;
}
.btn-primary:active{
    background-color:#2d4427;
    border-color:#192615;
}
.btn-primary:active:focus{
    background-color:#2d4427;
    border-color:#192615;
}
.fa-spin{
    color:#507c45;
}
